@import "../config.scss";

.shop {
  max-width: 1200px;
  margin: 0 auto;


  @media (max-width: 900px) {
    padding: 20px;
  }
  .min-title {
    color: $shop-titles-color;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .sub-cat {
    font-weight: 500;
    color: gray;
    cursor: pointer;
  }

  .shop-title {
    color: $shop-titles-color;
    font-size: 30px;  
    font-family: $geo-font;
  }
}

.remove-cat {
  transition: 0.3s;
  transition: 0.3s;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $shop-titles-color;
  }
}

.selected-category {
  color: $shop-titles-color !important;
}
.product-image {
  position: relative;
  &:hover {
    outline: 2px solid $main-button-color;
  }
  z-index: 20; // Increased to ensure it's above other content
  &:hover .add-cart-button {
    opacity: 1;
  }
  
  .add-cart-button {
    transition: 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100; // Ensure it's higher than the image
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: $main-button-color;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
}


.main-icon {
  background-color: $shop-titles-color;
  transition: 0.3s;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border: 0;
  outline: 0;
  color: white;

  &:hover {
    background-color: $color-dark;
  }
}